cronjobs/adminsdk.json
cronjobs/.ENV
cronjobs/restoration/function.zip
cronjobs/recommendations/function.zip
cronjobs/recommendations/main
cronjobs/restoration/main
redis/vendor
redis/adminsdk.json
redis/.env
play/adminsdk.json
play/.cache-22ryi2ajn2xu5gzzdeuecrfni
play/.ENV
trigger/vendor
.idea
.DS_Store
## Compiled JavaScript files
**/*.js
**/*.js.map

# Typescript v1 declaration files
functions/typings/

functions/node_modules
firebase.json
firestore-debug.log
firestore.indexes.json
firestore.rules
functions/package-lock.json
functions/ui-debug.log

.vscode
